in/*
bin
include/*
include
lib
lib/*
lib64
lib64/*
pyvenv.cfg
ALANOZY*
default.csv
resultats*
correlation*
correspondance*
correlate
*.csv
__pycache__/CSVManager.cpython-311.pyc
.gitignore
autofill444_Identification.json
